.title{
    font-weight: bolder;
    text-align: center;
    border-bottom: 0 solid black;
}
.article{
    border: 0 solid black;
    width: 55%;
    margin-left: 22.5%;
    background-color: #191c1d;
}
p{
    text-align: justify;
    color: #00A24B;
    font-family: monospace;
    font-size: 1.5em;
}
body{
    background-color: #191c1d;
}